{% extends "base.html" %}{% load static from staticfiles %}

{% block metatags %} {% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="page-header">
            <h1 class="pull-left">
            <span>Ejemplo API tarda en responder con User</span>
            </h1>
        </div>
    </div>

    <div class="col-md-6">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Resultado</h3>
            </div>
            <div class="panel-body">
                <p id="resultado-task"></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_resources %}
    
    
    <script type="text/javascript">

        jQuery(document).ready(function() {
            $("#content-wrapper .page-header").after('<div class="jobstatic-panel" > \
                <h3 class="jobstatic-result">Estado: Pendiente. Si este mensaje no se actualiza en 2 minutos favor de reportarlo.</h3> \
                </div>'
                );
        });
        
 
        
        function error_task(task) {
            var resultado = JSON.stringify(task.result)
            alert("La tarea no pudo procesarse")
        
            $(".jobstatic-result").empty().append(resultado);
            $(".loading-gif, .title-job").hide();
            //console.log(task)
        }
        
        var ws = new WebSocket("ws://{{ request.META.HTTP_HOST }}/ws/api-lenta3?subscribe-user");
        //var ws = new WebSocket("ws://{{ request.META.HTTP_HOST }}/ws/api-lenta3?subscribe-broadcast");
        ws.onopen = function() {
            console.log("websocket connected");
        };
        ws.onmessage = function(e) {
            data = JSON.parse(e.data);
            console.log("data: ", data);
            let status = data.status;

            if (status == "PROGRESS"){
                $(".jobstatic-panel").show();
                $(".loading-gif").show();
                $(".jobstatic-result").empty().append(data.mensaje);

            }else if ( status  == "DONE") {
                $(".loading-gif, .title-job").hide();
                $(".jobstatic-panel").hide();
                $("#resultado-task").html(data.mensaje)
                ws.close();
            }
            
            

            if (status !== "DONE") {
                return;
            }
  
        };
        ws.onerror = function(e) {
            console.error(e);
        };
        ws.onclose = function(e) {
            console.log("connection closed");
        }
        function send_message(msg) {
            ws.send(msg);
        }
    </script>
{% endblock %}
