{% extends "base.html" %}{% load static from staticfiles %}

{% block metatags %} {% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="page-header">
            <h1 class="pull-left">
            <span>Ejemplo API tarda en responder</span>
            </h1>
        </div>
    </div>

    <div class="col-md-6">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Resultado</h3>
            </div>
            <div class="panel-body">
                <p id="resultado-task"></p>
            </div>
        </div>
    </div>

    <input type="hidden" id="task-id" value="{{ task_id }}">
{% endblock %}

{% block extra_resources %}
    
    <script src="{% static '/jquery/celery.js' %}"></script>
    <script type="text/javascript">

        jQuery(document).ready(function() {
            $("#content-wrapper .page-header").after('<div class="jobstatic-panel" > \
                <h3 class="jobstatic-result">Estado: Pendiente. Si este mensaje no se actualiza en 2 minutos favor de reportarlo.</h3> \
                </div>'
                );
        
            var taskId = $("#task-id").val();
        
            var interval_task = 1000;
        
            if (taskId){
                $(".jobstatic-panel").show();
                $(".loading-gif").show();
        
        
                //Se manda a procesar la tarea de forma asincrona
                $.fn.djcelery({
                    task_id: taskId,
                    check_interval: interval_task,
                    on_success: task_success_custom,
                    on_failure: error_task,
                    on_error: error_task,
                    on_other: function(task) {
            
                        //console.log(task)
                        if (task.status == "PROGRESS") {
                            $(".jobstatic-result").empty().append(task.result.mensaje);
                        };
                    },
                });
            }
        });
        
        function task_success_custom(task){
            $(".loading-gif, .title-job").hide();
            $(".jobstatic-panel").hide();
            $("#resultado-task").html(task.result)
        }
        
        function error_task(task) {
            var resultado = JSON.stringify(task.result)
            alert("La tarea no pudo procesarse")
        
            $(".jobstatic-result").empty().append(resultado);
            $(".loading-gif, .title-job").hide();
            //console.log(task)
        }
    </script>
{% endblock %}