{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'css/bootstrap.css'  %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet" type="text/css" media="all" />
        {% block metatags %} {% endblock %}
    </head>
    <body>
        <div id="content-loading-gif" class="loading-gif" >
            <img id="loading-gif" width="100" src="{% static 'img/Spin.svg' %}"> 
        </div>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Dcelery</a>
                    </div>
                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'api_lenta' %}">Api Lenta <span class="sr-only">(current)</span></a></li>
                        <li ><a href="{% url 'api_lenta2' %}">Api Lenta WS <span class="sr-only">(current)</span></a></li>
                        <li ><a href="{% url 'api_lenta3' %}">Api Lenta WS2 <span class="sr-only">(current)</span></a></li>
                        <li ><a href="{% url 'user_chat' %}">Chat User <span class="sr-only">(current)</span></a></li>
                        <li><a><span>Usuario: {{ request.user }}</span></a></li>
                    </ul>


                    </div>

                </div>
                </nav>
            <div class="row" id="content-wrapper">
            {% block content %}{% endblock %}
            </div>
        </div>
        <script src="{% static '/jquery/jquery.min.js' %}" type="text/javascript"></script>
        {% block extra_resources %} {% endblock %}
       
    </body>
</html>